﻿@using KIT.Helpers
@model KIT.ModelsVm.VideoVm

<form let="add-video-form">
    @Html.AntiForgeryToken()
    <table class="table">
        <tbody>
            <tr>
                <th class="align-middle">Название</th>
                <td>
                    @Html.TextBoxFor(w => w.Name, new { @class = "form-control" })
                    <span valid-for="Name" class="validate_fild"></span>
                </td>
            </tr>
            <tr>
                <th class="align-middle">Название(Английский)</th>
                <td>
                    @Html.TextBoxFor(w => w.Name_en, new { @class = "form-control" })
                    <span valid-for="Name_en" class="validate_fild"></span>
                </td>
            </tr>
            <tr>
                <th class="align-middle">Ссылка на видео</th>
                <td>
                    @Html.TextBoxFor(w => w.Url, new { @class = "form-control" })
                    <span valid-for="Url" class="validate_fild"></span>
                </td>
            </tr>
        </tbody>
    </table>
</form>