﻿@using KIT.Helpers
@model List<KIT.Models.Video>
@using KIT.Helpers.Controls


@foreach (var video in Model)
{
    <div class="block_video">
        <span class="video_name">@video.Name</span>
        <div class="clearfix"></div>
        @Html.YoutubePlay(video.Url,200,200)
        <div class="clearfix"></div>
        @*<a let="change-video" rid="@video.Id">ред.</a><a let="delete-video" rid="@video.Id">удал.</a>*@
        <button type="button" class="btn btn-info btn-xs" let="change-video" rid="@video.Id">Изменить</button>
        <button type="button" class="btn btn-danger btn-xs" let="delete-video" rid="@video.Id">Удалить</button>
    </div>
}




@*@foreach (var issues in Model)
{
    <tr>
        <td>@issues.Id</td>
        <td>@issues.Issues</td>
        <td><button type="button" class="btn btn-primary btn-xs" let="info-issues" rid="@issues.Id">Подробнее</button></td>
        <td><button type="button" class="btn btn-info btn-xs" let="change-issues" rid="@issues.Id">Изменить запись</button></td>
        <td><button type="button" class="btn btn-danger btn-xs" let="delete-issues" rid="@issues.Id">Удалить запись</button></td>
    </tr>
}*@