﻿@using Localization
@{
    ViewBag.Title = "Видео портфолио";
}

<div class="col-xs-12">
    <div class="box">
        <div class="box-header">
            <span>Видео портфолио</span>
            <button type="button" class="btn btn-sm btn-info float-right" let="add-video"><i class="fa fa-plus"></i> Добавить</button>
        </div>
        <div class="box-body">
            <div let="video-table"></div>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/view.processor/video.view.processor.js")"></script>
<script>
    $(function() {
        var config = {
            url: {
                getAll: '@Url.Action("AllVideo")',
                add: '@Url.Action("AddVideo")',
                delete: '@Url.Action("DeleteVideo")',
                change: '@Url.Action("ChangeVideo")'
            },
            resource: {
                addTitle: 'Добавить видео',
                changeTitle: 'Изменить видео',
                deleteTitle: 'Вы уверены что хотите удалить видео?',
                save: 'Сохранить',
                cancel: 'Отмена',
                close: 'Закрыть',
                yes: 'Да',
                no: 'Нет',
                operationComplete: 'Операция завершена',
                deleteIsComplete: 'Видео успешно удалено',
                addIsComplete: 'Видео успешно добавлено',
                changeIsComplete: 'Видео успешно изменено'
            }
        };
        var processor = new VideoViewProcessor(config);
        processor.Start();
    })
</script>