﻿@using KIT.Helpers.Controls
@using Localization
@model Touring.ModelsVm.VideoContentVm

@{
    ViewBag.Title = "Video";
}

<div id="body-bg">
    @Html.Partial("_sidebar",Model.ContactVm)
    <div id="pre-header" class="container" style="height: 40px;">
    </div>
    <div id="header">
        <div class="container">
            <div class="row">
                <!-- Logo -->
                <div class="logo">
                    <a href="@Url.Action("Index","Home")" title="">
                        <img src="~/Content/assets/img/logo.png" alt="Logo"/>
                    </a>
                </div>
                <!-- End Logo -->
            </div>
        </div>
    </div>
    <!-- Top Menu -->
    <div id="hornav" class="container no-padding">
        <div class="row">
            <div class="col-md-12 no-padding">
                <div class="text-center visible-lg">
                    <ul id="hornavmenu" class="nav navbar-nav">
                        <li>
                            <a href="@Url.Action("Index","Home")" class="fa-home">@Resource.Домой</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Home")" class="fa-plane">@Resource.Туры</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Issues")" class="fa-comments-o">@Resource.Часто_задаваемые_вопросы</a>
                        </li>
                        <li>
                            <a href="#contact" class="fa-comment go_to">@Resource.Обратная_связь</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Top Menu -->
    <div id="post_header" class="container" style="height: 40px;">
    </div>
    <div id="content-top-border" class="container">
    </div>
    <!-- === END HEADER === -->
    <!-- === BEGIN CONTENT === -->
    <div id="content">
        <div class="container background-white">
            <div class="row margin-vert-30">
                <!-- Main Column -->
                <div class="col-md-12">
                    <h2>@Resource.Видео_портфолио</h2><br/>
                    @foreach (var video in Model.VideoVm)
                    {
                        <div class="block_video">
                            <span class="video_name">@video.Name</span>
                            <div class="clearfix"></div>
                            @Html.YoutubePlay(video.Url,300,300)
                        </div>
                    }
                </div>
                <!-- End Main Column -->
            </div>
        </div>
    </div>
    <!-- === END CONTENT === -->
    <!-- === BEGIN FOOTER === -->
    <div id="contact"></div>
    @Html.Partial("_footer",Model.ContactVm)
</div>

<script>
    $(document).ready(function(){
        $('.go_to').click( function(){ // ловим клик по ссылке с классом go_to
            var scroll_el = $(this).attr('href'); // возьмем содержимое атрибута href, должен быть селектором, т.е. например начинаться с # или .
            if ($(scroll_el).length != 0) { // проверим существование элемента чтобы избежать ошибки
                $('html, body').animate({ scrollTop: $(scroll_el).offset().top }, 900); // анимируем скроолинг к элементу scroll_el
            }
            return false; // выключаем стандартное действие
        });
    });
</script>