﻿@using KIT.Helpers
@using KIT.Helpers.Controls
@using Localization
@model Touring.ModelsVm.InverseContactVm

<form let="add-communications-form-add2">
    @Html.AntiForgeryToken()
    <table class="table">
        <tbody>
            <tr>
                <th class="align-middle">@Resource.ФИО</th>
                <td>
                    @Html.TextBoxFor(w => w.FullName, new { @class = "form-control" })
                    <span valid-for="FullName" class="validate_fild"></span>
                </td>
            </tr>
            <tr>
                <th class="align-middle">@Resource.Почта</th>
                <td>
                    @Html.TextBoxFor(w => w.Email, new { @class = "form-control" })
                    <span valid-for="Email" class="validate_fild"></span>
                </td>
            </tr>
            <tr>
                <th class="align-middle">@Resource.Номер_телефона</th>
                <td>
                    @Html.TextBoxFor(w => w.Number, new { @class = "form-control" })
                    <span valid-for="Number" class="validate_fild"></span>
                </td>
            </tr>
        </tbody>
    </table>
</form>