﻿@using KIT.Enums
@using Localization
@model Touring.ModelsVm.HomePageVm
@using Touring.Controls

@{
    ViewBag.Title = "Tour";
}

<div id="body-bg">
    @Html.Partial("_sidebar",Model.Contact)
    <div id="pre-header" class="container" style="height: 340px">
    </div>
    <div id="header">
        <div class="container">
            <div class="row">
                <!-- Logo -->
                <div class="logo">
                    <a href="@Url.Action("Index","Home")" title="">
                        <h2>Logo</h2>
                    </a>
                </div>
                <!-- End Logo -->
            </div>
        </div>
    </div>
    <!-- Top Menu -->
    <div id="hornav" class="container no-padding">
        <div class="row">
            <div class="col-md-12 no-padding">
                <div class="text-center visible-lg">
                    <ul id="hornavmenu" class="nav navbar-nav">
                        <li>
                            <a href="#pre-header" class="fa-home go_to">@Resource.Домой</a>
                        </li>
                        <li>
                            <a href="#Tour" class="fa-plane go_to">@Resource.Туры</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Video")" class="fa-th">@Resource.Портфолио</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Issues")" class="fa-comments-o">@Resource.Часто_задаваемые_вопросы</a>
                        </li>
                        <li>
                            <a href="#contact" class="fa-comment go_to">@Resource.Обратная_связь</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Top Menu -->
    <div id="post_header" class="container" style="height: 340px">
    </div>
    <div id="content-top-border" class="container">
    </div>
    <!-- === END HEADER === -->
    <!-- === BEGIN CONTENT === -->
    <div id="content">
        <div class="container no-padding">
            <div class="row">
                <!-- Carousel Slideshow -->
                <div id="carousel-example" class="carousel slide" data-ride="carousel">
                    <!-- Carousel Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example" data-slide-to="1"></li>
                        <li data-target="#carousel-example" data-slide-to="2"></li>
                    </ol>
                    <div class="clearfix"></div>
                    <!-- End Carousel Indicators -->
                    <!-- Carousel Images -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="~/Content/assets/img/slideshow/slide1.jpg">
                        </div>
                        <div class="item">
                            <img src="~/Content/assets/img/slideshow/slide2.jpg">
                        </div>
                        <div class="item">
                            <img src="~/Content/assets/img/slideshow/slide3.jpg">
                        </div>
                        <div class="item">
                            <img src="~/Content/assets/img/slideshow/slide4.jpg">
                        </div>
                    </div>
                    <!-- End Carousel Images -->
                    <!-- Carousel Controls -->
                    <a class="left carousel-control" href="#carousel-example" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                    <!-- End Carousel Controls -->
                </div>
                <!-- End Carousel Slideshow -->
            </div>
        </div>
        <div class="container background-gray-lighter">
            <div class="row margin-vert-40">
                <div class="col-md-4">
                    <div class="col-md-4">
                        <i class="fa-clock-o fa-5x color-primary"></i>
                    </div>
                    <div class="col-md-8">
                        <h2 class="margin-top-5 margin-bottom-0">1,474.5</h2>
                        <p>@Resource.Рабочие_часы</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-4">
                        <i class="fa-tachometer fa-5x color-primary"></i>
                    </div>
                    <div class="col-md-8">
                        <h2 class="margin-top-5 margin-bottom-0">20</h2>
                        <p>@Resource.Количество_туров</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-4">
                        <i class="fa-users fa-5x color-primary"></i>
                    </div>
                    <div class="col-md-8">
                        <h2 class="margin-top-5 margin-bottom-0">1,474</h2>
                        <p>@Resource.Довольные_клиенты</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container background-white">
            <div class="row margin-vert-30">
                <!-- Main Text -->
                <div class="col-md-12" id="Tour">
                    <h2 class="text-center">@Resource.Добро_пожаловать_в_Кыргызстан</h2>
                    <p class="text-center">@Model.Welcome.Text</p>
                    @*<p class="text-center">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit
                    augue duis dolore te feugait nulla facilisi. Cras non sem sem, at eleifend mi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Curabitur eget nisl
                    a risus.</p>*@
                </div>
                <!-- End Main Text -->
            </div>
        </div>
        <div class="container background-gray-lighter">
            <div class="row padding-vert-20">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <!-- Portfolio -->
                    <ul class="portfolio-group">
                        <!-- Portfolio Item -->

                        <!-- //Portfolio Item// -->
                        <!-- Portfolio Item -->
                        @foreach (var tour in Model.Tour)
                        {
                            <li class="portfolio-item col-sm-6 col-xs-6 padding-20">
                                <a href="@Url.Action("Index","Tour",new {id=tour.Id})">
                                    <figure class="animate fadeInRight">
                                        @Html.DrawImage(tour.File, 371, 196)
                                        <figcaption>
                                            <h3>@tour.NameTour</h3>
                                            <span>@tour.ShortDescription</span>
                                        </figcaption>
                                    </figure>
                                </a>
                            </li>
                        }


                        <!-- //Portfolio Item// -->
                    </ul>
                    <!-- End Portfolio -->
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>
        <div class="container background-white">
            <div class="row margin-vert-30">
                <!-- Main Text -->
                <div class="col-md-12">
                    <h2 class="text-center">@Resource.О_нас</h2>
                    <p class="text-center">
                        @Model.AboutUs.Text
                    </p>
                    @*<p class="text-center">
                    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit
                    augue duis dolore te feugait nulla facilisi. Cras non sem sem, at eleifend mi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Curabitur eget nisl
                    a risus.
                </p>*@
                </div>
                <!-- End Main Text -->
            </div>
        </div>
    </div>
    <!-- === END CONTENT === -->
    <!-- === BEGIN FOOTER === -->
    <div id="contact"></div>
    @Html.Partial("_footer",Model.Contact)
</div>
<script>
    $(document).ready(function(){
        $('.go_to').click( function(){ // ловим клик по ссылке с классом go_to
            var scroll_el = $(this).attr('href'); // возьмем содержимое атрибута href, должен быть селектором, т.е. например начинаться с # или .
            if ($(scroll_el).length != 0) { // проверим существование элемента чтобы избежать ошибки
                $('html, body').animate({ scrollTop: $(scroll_el).offset().top }, 900); // анимируем скроолинг к элементу scroll_el
            }
            return false; // выключаем стандартное действие
        });
    });
</script>
