﻿@model dynamic

@{
    ViewBag.Title = "Ban";
    Layout = null;
}

<h2 style="color: red; text-align: center; margin-top: 40px;">Your IP Adress has been banned!</h2>
<img style="margin-left: 525px" src="~/Content/assets/img/ban.png"/>