﻿@model KIT.ModelsVm.StatisticsVm

@{
    ViewBag.Title = "Статистика";
}

<div class="col-xs-12">
    <div class="box">
        <div class="box-header">
        </div>
        <div class="box-body">
            <span style="font-weight: bold;font-size: 17px;">Статистика заявок на обратную связь</span>
            <table class="table table-hover table-responsive">
                <thead>
                <tr>
                    <th>Новые</th>
                    <th>Закрытые/Успех</th>
                    <th>Закрытые/Отказ</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>@Model.NewInverseContact</td>
                    <td>@Model.SuccsuesInverseContact</td>
                    <td>@Model.RejectedInverseContact</td>
                </tr>
                </tbody>
            </table>
            <div class="clearfix"></div>
            <span style="font-weight: bold;font-size: 17px;">Статистика заявок для участия в туре</span>
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Новые</th>
                        <th>Закрытые/Успех</th>
                        <th>Закрытые/Отказ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.NewInverseTour</td>
                        <td>@Model.SuccsuesInverseTour</td>
                        <td>@Model.RejectedInverseTour</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>