﻿@using KIT.Helpers
@model List<KIT.ModelsVm.TourTableVm>

@foreach (var tour in Model)
{
    <tr>
        <td>@tour.Id</td>
        <td>@tour.NameTour</td>
        <td><button type="button" class="btn btn-primary btn-xs" let="info-tour" rid="@tour.Id">Подробнее</button></td>
        <td><button type="button" class="btn btn-info btn-xs" let="change-tour" rid="@tour.Id">Изменить запись</button></td>
        <td><button type="button" class="btn btn-danger btn-xs" let="delete-tour" rid="@tour.Id">Удалить запись</button></td>
    </tr>
}