﻿@using KIT.Helpers
@model KIT.ModelsVm.TourVm
<script src=@Url.Content("~/Scripts/controls/file.upload.js")></script>
<form let="change-tour-form">
    @Html.AntiForgeryToken()
    <table class="table">
        <tbody>
            <tr>
                <th class="align-middle">Номер тура</th>
                <td let = "Id">@Model.Id</td>
            </tr>
        <tr>
            <th class="align-middle">Название тура</th>
            <td>
                @Html.TextBoxFor(w => w.NameTour, new {@class = "form-control", let = "NameTour"})
                <span valid-for="NameTour" class="validate_fild"></span>
            </td>
        </tr>
        <tr>
            <th class="align-middle">Название тура(Английский)</th>
            <td>
                @Html.TextBoxFor(w => w.NameTour_en, new {@class = "form-control", let = "NameTour_en"})
                <span valid-for="NameTour_en" class="validate_fild"></span>
            </td>
        </tr>
        <tr>
            <th class="align-middle">Краткое описание</th>
            <td>
                @Html.TextAreaFor(w => w.ShortDescription, new {@class = "form-control area", rows = 5, let = "ShortDescription"})
                <span valid-for="ShortDescription" class="validate_fild"></span>
            </td>
        </tr>
        <tr>
            <th class="align-middle">Краткое описание(Английский)</th>
            <td>
                @Html.TextAreaFor(w => w.ShortDescription_en, new {@class = "form-control area", rows = 5, let = "ShortDescription_en"})
                <span valid-for="ShortDescription_en" class="validate_fild"></span>
            </td>
        </tr>
        <tr>
            <th class="align-middle">Полное описание</th>
            <td>
                @Html.TextAreaFor(w => w.Description, new {@class = "form-control area", rows = 10, let = "Description"})
                <span valid-for="Description" class="validate_fild"></span>
            </td>
        </tr>
        <tr>
            <th class="align-middle">Полное описание(Английский)</th>
            <td>
                @Html.TextAreaFor(w => w.Description_en, new {@class = "form-control area", rows = 10, let = "Description_en"})
                <span valid-for="Description_en" class="validate_fild"></span>
            </td>
        </tr>
        <tr>
            <th class="align-middle">Загрузка изображения</th>
            <td>
                @Html.FileUpload("FileForUpload", Model.File, "FileForUpload")
                <span valid-for="FileForUpload" class="validate_fild"></span>
            </td>
        </tr>
        </tbody>
    </table>
</form>