﻿@using KIT.Enums
@using KIT.Helpers
@using KIT.Helpers.Controls
@using Localization
@model KIT.ModelsVm.TourVm

<form let="tourInfo-form">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(w => w.Id)
    <table class="table">
        <tbody>
        <tr>
            <th class="align-middle">Номер тура</th>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <th class="align-middle">Название тура</th>
            <td>@Model.NameTour</td>
        </tr>
        <tr>
            <th class="align-middle">Название тура(Английский)</th>
            <td>@Model.NameTour_en</td>
        </tr>
        <tr>
            <th class="align-middle">Краткое описание</th>
            <td>@Model.ShortDescription</td>
        </tr>
        <tr>
            <th class="align-middle">Краткое описание(Английский)</th>
            <td>@Model.ShortDescription_en</td>
        </tr>
        <tr>
            <th class="align-middle">Полное описание</th>
            <td>@Model.Description</td>
        </tr>
        <tr>
            <th class="align-middle">Полное описание(Английский)</th>
            <td>@Model.Description_en</td>
        </tr>
        <tr>
            <th class="align-middle">Изображение</th>
            <td>@Html.DrawImage(Model.File, 300, 300)</td>
        </tr>
        
        </tbody>
    </table>
</form>