﻿@using Localization
@{
    ViewBag.Title = "Туры";
}

<div class="col-xs-12">
    <div class="box">
        <div class="box-header">
            <span>Туры</span>
            <button type="button" class="btn btn-sm btn-info float-right" let="add-tour"><i class="fa fa-plus"></i> Добавить</button>
        </div>
        <div class="box-body">
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Номер тура</th>
                        <th>Название тура</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody let="tour-table"></tbody>
            </table>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/view.processor/tour.view.processor.js")"></script>
<script>
    $(function() {
        var config = {
            url: {
                getAll: '@Url.Action("AllTour")',
                add: '@Url.Action("AddTour")',
                delete: '@Url.Action("DeleteTour")',
                info: '@Url.Action("TourInfo")',
                change: '@Url.Action("ChangeTour")'
            },
            resource: {
                addTitle: 'Добавить тур',
                changeTitle: 'Изменить тур',
                infoTitle: 'Информация о туре',
                deleteTitle: 'Вы уверены что хотите удалить запись?',
                save: 'Сохранить',
                cancel: 'Отмена',
                close: 'Закрыть',
                yes: 'Да',
                no: 'Нет',
                operationComplete: 'Операция завершена',
                deleteIsComplete: 'Запись успешно удалена',
                addIsComplete: 'Запись успешно сохранена',
                changeIsComplete: 'Запись успешно изменена'
            }
        };
        var processor = new TourViewProcessor(config);
        processor.Start();
    })
</script>