﻿@using KIT.Helpers
@model List<KIT.ModelsVm.IssueTourVm>

@foreach (var issues in Model)
{
    <tr>
        <td>@issues.Id</td>
        <td>@issues.Issues</td>
        <td><button type="button" class="btn btn-primary btn-xs" let="info-issues" rid="@issues.Id">Подробнее</button></td>
        <td><button type="button" class="btn btn-info btn-xs" let="change-issues" rid="@issues.Id">Изменить запись</button></td>
        <td><button type="button" class="btn btn-danger btn-xs" let="delete-issues" rid="@issues.Id">Удалить запись</button></td>
    </tr>
}