﻿@using KIT.Helpers
@model KIT.ModelsVm.IssueTourVm
<form let="change-issues-form">
    @Html.AntiForgeryToken()
    <table class="table">
        <tbody>
        <tr>
            <th class="align-middle">Номер вопроса</th>
            <td let = "Id">@Model.Id</td>
        </tr>
        <tr>
            <th class="align-middle">Вопрос</th>
            <td>
                @Html.TextBoxFor(w => w.Issues, new {@class = "form-control", let = "Issues" })
                <span valid-for="Issues" class="validate_fild"></span>
            </td>
        </tr>
        <tr>
            <th class="align-middle">Ответ</th>
            <td>
                @Html.TextBoxFor(w => w.Answer, new {@class = "form-control", let = "Answer" })
                <span valid-for="Answer" class="validate_fild"></span>
            </td>
        </tr>
        <tr>
            <th class="align-middle">Вопрос(Английский)</th>
            <td>
                @Html.TextBoxFor(w => w.Issues_en, new {@class = "form-control", let = "Issues_en" })
                <span valid-for="Issues_en" class="validate_fild"></span>
            </td>
        </tr>
        <tr>
            <th class="align-middle">Ответ(Английский)</th>
            <td>
                @Html.TextBoxFor(w => w.Answer_en, new {@class = "form-control", let = "Answer_en" })
                <span valid-for="Answer_en" class="validate_fild"></span>
            </td>
        </tr>
        </tbody>
    </table>
</form>