﻿@using KIT.Enums
@using KIT.Helpers
@using KIT.Helpers.Controls
@using Localization
@model KIT.ModelsVm.IssueTourVm

<form let="issuesInfo-form">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(w => w.Id)
    <table class="table">
        <tbody>
            <tr>
                <th class="align-middle">Номер вопроса</th>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <th class="align-middle">Вопрос</th>
                <td>@Model.Issues</td>
            </tr>
            <tr>
                <th class="align-middle">Ответ</th>
                <td>@Model.Answer</td>
            </tr>
            <tr>
                <th class="align-middle">Вопрос(Английский)</th>
                <td>@Model.Issues_en</td>
            </tr>
        <tr>
            <th class="align-middle">Ответ(Английский)</th>
            <td>@Model.Answer_en</td>
        </tr>
        </tbody>
    </table>
</form>