﻿@using Localization
@{
    ViewBag.Title = "Часто задаваемые вопросы";
}

<div class="col-xs-12">
    <div class="box">
        <div class="box-header">
            <span>Часто задаваемые вопросы</span>
            <button type="button" class="btn btn-sm btn-info float-right" let="add-issues"><i class="fa fa-plus"></i> Добавить</button>
        </div>
        <div class="box-body">
            <table class="table table-hover table-responsive">
                <thead>
                <tr>
                    <th>Номер вопроса</th>
                    <th>Вопрос</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody let="issues-table"></tbody>
            </table>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/view.processor/issues.view.processor.js")"></script>
<script>
    $(function() {
        var config = {
            url: {
                getAll: '@Url.Action("AllIssues")',
                add: '@Url.Action("AddIssues")',
                delete: '@Url.Action("DeleteIssues")',
                info: '@Url.Action("IssuesInfo")',
                change: '@Url.Action("ChangeIssues")'
            },
            resource: {
                addTitle: 'Добавить вопрос',
                changeTitle: 'Изменить вопрос',
                infoTitle: 'Информация по вопросу',
                deleteTitle: 'Вы уверены что хотите удалить запись?',
                save: 'Сохранить',
                cancel: 'Отмена',
                close: 'Закрыть',
                yes: 'Да',
                no: 'Нет',
                operationComplete: 'Операция завершена',
                deleteIsComplete: 'Запись успешно удалена',
                addIsComplete: 'Запись успешно сохранена',
                changeIsComplete: 'Запись успешно изменена'
            }
        };
        var processor = new IssuesViewProcessor(config);
        processor.Start();
    })
</script>