﻿@using KIT.Helpers
@model KIT.ModelsVm.AdminAccountVm
@{
    ViewBag.Title = "Натройка профиля";
}
<form id="ChangeProfileForm">
    @Html.AntiForgeryToken()
    <table class="table">
        <tbody>
            @Html.HiddenFor(w => w.Id)
            <tr>
                <th class="align-middle">Имя персоны</th>
                <td>
                    @Html.TextBoxFor(w => w.FullName, new { @class = "form-control" })
                    <div class="field-validation-error validate_fild" id="for-FullName"></div>
                </td>
            </tr>
            <tr>
                <th class="align-middle">Логин</th>
                <td>@Model.Login</td>
            </tr>
            <tr>
                <th class="align-middle">Старый пароль</th>
                <td>
                    @Html.TextBoxFor(w => w.OldPassword, new { @class = "form-control", type = "password" })
                    <div class="field-validation-error validate_fild" id="for-OldPassword"></div>
                </td>
            </tr>
            <tr>
                <th class="align-middle">Новый пароль</th>
                <td>
                    @Html.TextBoxFor(w => w.NewPassword, new { @class = "form-control", type = "password" })
                    <div class="field-validation-error validate_fild" id="for-NewPassword"></div>
                </td>
            </tr>
            <tr>
                <th class="align-middle">Повторите пароль</th>
                <td>
                    @Html.TextBoxFor(w => w.RepeatPassword, new { @class = "form-control", type = "password" })
                    <div class="field-validation-error validate_fild" id="for-RepeatPassword"></div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="text-right">
        <button type="button" onclick="submitForm(this)" class="btn btn-success btn-sm text-uppercase"><i class="fa fa-check"></i> Сохранить</button>
        <button type="button" onclick="bootbox.hideAll()" class="btn btn-danger btn-sm text-uppercase"><i class="fa fa-ban"></i> Отмена</button>
    </div>
</form>

<script>
    function submitForm(btn) {
        $(btn).attr("disabled", "disabled");
        $(btn).find("i").attr("class", "fa fa-spin fa-spinner");

        $.ajax({ type: "POST", url: '@Url.Action("ChangeProfile")', data: $("#ChangeProfileForm").serialize() }).done(function(data) {
            $(btn).removeAttr("disabled");
            $(btn).find("i").attr("class", "fa fa-check");

            if (data.status) {
                bootbox.hideAll();
                CommonHelper.attention("Операция завершена", "Данные профиля успешно изменены");

            } else {
                AddErrorInModel(data.errors.FullName, "FullName");
                AddErrorInModel(data.errors.PhoneNumber, "PhoneNumber");
                AddErrorInModel(data.errors.OldPassword, "OldPassword");
                AddErrorInModel(data.errors.NewPassword, "NewPassword");
                AddErrorInModel(data.errors.RepeatPassword, "RepeatPassword");
            }
        });
    }

    function AddErrorInModel(object, id) {
        if (object != undefined) {
            $(`#for-${id}`).html(object);
            $(`#${id}`).addClass("input-validation-error");
        } else {
            $(`#for-${id}`).html("");
            $(`#${id}`).removeClass("input-validation-error");
        }
    }
</script>

