﻿@using KIT.Helpers
@model List<KIT.ModelsVm.ContactsVm>

@foreach (var contact in Model)
{
    <span class="text_contact_right">@contact.Email</span>
    <div class="clearfix"></div>
    <span class="text_contact_right">@contact.PhoneNumber</span>
    <div class="clearfix"></div>
    <span class="text_contact_right">@contact.Fb</span>
    <div class="clearfix"></div>
    <span class="text_contact_right">@contact.Instagramm</span>
    <div class="clearfix"></div>
    <span class="text_contact_right">@contact.Vk</span>
    <div class="clearfix"></div>
    <span class="text_contact_right">@contact.Youtube</span>


    @*<tr>
        <td><span style="width: 150px;">@contact.Email</span></td>
        <td><span style="width: 150px;">@contact.PhoneNumber</span></td>
        <td><span style="width: 150px;">@contact.Fb</span></td>
        <td><span style="width: 150px;">@contact.Instagramm</span></td>
        <td><span style="width: 150px;">@contact.Vk</span></td>
        <td><span style="width: 150px;">@contact.Youtube</span></td>
        <td><button type="button" class="btn btn-info btn-xs" let="change-contact" rid="@contact.Id">Изменить запись</button></td>
    </tr>*@

   
}