﻿@using KIT.Helpers
@model KIT.ModelsVm.ContactsVm
<form let="change-contact-form">
    @Html.AntiForgeryToken()
    <table class="table">
        <tbody>
            @Html.HiddenFor(w=>w.Id)
            <tr>
                <th class="align-middle">Почта</th>
                <td>
                    @Html.TextBoxFor(w => w.Email, new { @class = "form-control", let = "Email" })
                    <span valid-for="Email" class="validate_fild"></span>
                </td>
            </tr>
            <tr>
                <th class="align-middle">Номер телефона</th>
                <td>
                    @Html.TextBoxFor(w => w.PhoneNumber, new { @class = "form-control", let = "PhoneNumber" })
                    <span valid-for="PhoneNumber" class="validate_fild"></span>
                </td>
            </tr>
            <tr>
                <th class="align-middle">Ссылка на Facebook</th>
                <td>
                    @Html.TextBoxFor(w => w.Fb, new { @class = "form-control", let = "Fb" })
                    <span valid-for="Fb" class="validate_fild"></span>
                </td>
            </tr>
        <tr>
            <th class="align-middle">Ссылка на Instagramm</th>
            <td>
                @Html.TextBoxFor(w => w.Instagramm, new { @class = "form-control", let = "Instagramm" })
                <span valid-for="Instagramm" class="validate_fild"></span>
            </td>
        </tr>
        <tr>
            <th class="align-middle">Ссылка на Вконтакте</th>
            <td>
                @Html.TextBoxFor(w => w.Vk, new { @class = "form-control", let = "Vk" })
                <span valid-for="Vk" class="validate_fild"></span>
            </td>
        </tr>
        <tr>
            <th class="align-middle">Ссылка на канал Youtube</th>
            <td>
                @Html.TextBoxFor(w => w.Youtube, new { @class = "form-control", let = "Youtube" })
                <span valid-for="Youtube" class="validate_fild"></span>
            </td>
        </tr>
        </tbody>
    </table>
</form>