﻿@using Localization
@{
    ViewBag.Title = "Контактная информация";
}

<div class="col-xs-12">
    <div class="box">
        <div class="box-header">
            <span>Контактная информация</span>
            <button type="button" class="btn btn-sm btn-primary float-right" let="change-contact" rid="1"> Изменить</button>
        </div>
        <div class="box-body">
            <div class="left_text_contact">
                <span class="text_contact_left">Почта</span>
                <div class="clearfix"></div>
                <span class="text_contact_left">Номер телефона</span>
                <div class="clearfix"></div>
                <span class="text_contact_left">Ссылка на Facebook</span>
                <div class="clearfix"></div>
                <span class="text_contact_left">Ссылка на Instagramm</span>
                <div class="clearfix"></div>
                <span class="text_contact_left">Ссылка на Вконтакте</span>
                <div class="clearfix"></div>
                <span class="text_contact_left">Ссылка на канал Youtube</span>
            </div>
            <div class="right_text_contact" let="contact-table"></div>
            @*<table class="table table-hover table-responsive">
                <thead>
                <tr>
                    <th>Почта</th>
                    <th>Номер телефона</th>
                    <th>Ссылка на Facebook</th>
                    <th>Ссылка на Instagramm</th>
                    <th>Ссылка на Вконтакте</th>
                    <th>Ссылка на канал Youtube</th>
                    <th></th>
                </tr>
                </thead>
                <tbody let="contact-table"></tbody>
            </table>*@
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/view.processor/contact.view.processor.js")"></script>
<script>
    $(function() {
        var config = {
            url: {
                getAll: '@Url.Action("AllContacts")',
                change: '@Url.Action("ChangeContact")'
            },
            resource: {
                changeTitle: 'Изменить контактную информацию',
                save: 'Сохранить',
                cancel: 'Отмена',
                operationComplete: 'Операция завершена',
                changeIsComplete: 'Запись успешно изменена'
            }
        };
        var processor = new ContactViewProcessor(config);
        processor.Start();
    })
</script>