﻿@using KIT.Helpers
@model KIT.ModelsVm.SecurityVm

<form let="add-ip-form">
    @Html.AntiForgeryToken()
    <table class="table">
        <tbody>
        <tr>
            <th class="align-middle">IP адрес</th>
            <td>
                @Html.TextBoxFor(w => w.Ip, new { @class = "form-control" })
                <span valid-for="Ip" class="validate_fild"></span>
            </td>
        </tr>
        <tr>
            <th class="align-middle">Комментарий</th>
            <td>
                @Html.TextBoxFor(w => w.Comment, new { @class = "form-control" })
                <span valid-for="Comment" class="validate_fild"></span>
            </td>
        </tr>
        </tbody>
    </table>
</form>