﻿@using KIT.Helpers
@model List<KIT.ModelsVm.SecurityVm>

@foreach (var person in Model)
{
    <tr>
        <td>@person.Ip</td>
        <td>@person.Comment</td>
        <td>
            <button type="button" class="btn btn-danger btn-xs" let="delete-ip" rid="@person.id">Удалить запись</button>
        </td>
    </tr>
}