﻿@using Localization
@{
    ViewBag.Title = "Служба безопасности";
}

<div class="col-xs-12">
    <div class="box">
        <div class="box-header">
            <span>Нежелательные IP адреса</span>
            <button type="button" class="btn btn-sm btn-info float-right" let="add-ip"><i class="fa fa-plus"></i> Добавить</button>
        </div>
        <div class="box-body">
            <table class="table table-hover table-responsive">
                <thead>
                <tr>
                    <th>IP адрес</th>
                    <th>Комментарий(причина)</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody let="ip-table"></tbody>
            </table>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/view.processor/ip.view.processor.js")"></script>
<script>
    $(function() {
        var config = {
            url: {
                getAll: '@Url.Action("AllIp")',
                add: '@Url.Action("AddIp")',
                delete: '@Url.Action("DeleteIp")'
            },
            resource: {
                addTitle: 'Добавить нежелательный IP',
                deleteTitle: 'Вы уверены что хотите удалить запись?',
                save: 'Сохранить',
                cancel: 'Отмена',
                yes: 'Да',
                no: 'Нет',
                operationComplete: 'Операция завершена',
                deleteIsComplete: 'Запись успешно удалена',
                addIsComplete: 'Запись успешно сохранена'
            }
        };
        var processor = new IpViewProcessor(config);
        processor.Start();
    })
</script>