﻿@using Localization
@using Touring.ModelsVm
<div id="content-bottom-border" class="container">
</div>
<div id="base">
    <div class="container padding-vert-30 margin-top-60">
        <div class="row">
            <!-- Contact Details -->
            <div class="col-md-4 margin-bottom-20">
                <h3 class="margin-bottom-10">@Resource.Контактная_информация</h3>
                <p>
                    <span class="fa-phone">@Resource.Номер_телефона:</span>@Model.PhoneNumber
                    <br>
                    <span class="fa-envelope">@Resource.Почта:</span>
                    <a href="mailto:@Model.Email">@Model.Email</a>
                </p>
                <p>
                    @Resource.Кыргызстан,
                    <br>@Resource.город_Каракол
                </p>
                
            </div>
            <!-- End Contact Details -->
            <!-- End Sample Menu -->
            <div class="col-md-1"></div>
            <!-- Disclaimer -->
            <div class="col-md-3 margin-bottom-20  text-center">
                <h3 class="color-gray margin-bottom-10">@Resource.У_вас_остались_вопросы</h3>
                <p>
                    @Resource.Оставьте_заявку
                    <br>@Resource.и_мы_с_вами_свяжемся
                </p>
                <input type="email" let="email" placeholder="Email">
                <br>
                <button class="btn btn-primary btn-lg margin-top-20" type="button" let="add-communications">@Resource.Отправить</button>
            </div>
            

            <!-- End Disclaimer -->
            <div class="clearfix"></div>
        </div>
        <div id="qoo-counter">
            <a href="#">
                <img src="http://qoo.by/counter/standard/001.png" alt="Счетчик посещаемости и статистика сайта">
                <div id="qoo-counter-visits" style="margin-top: -4px;"></div>
                <div id="qoo-counter-views" style="margin-top: -4px;"></div>
            </a>
        </div>
        <script type="text/javascript" src="http://qoo.by/counter.js"></script>
</div>
</div>
<!-- Footer Menu -->
<div id="footer">
    <div class="container">
        <div class="row">
            <div id="copyright" class="col-md-4">
                <p class="pull-right">(c) @DateTime.Now.Year Time Tour</p>
                

            </div>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/Processors/communications.view.processor.js")"></script>
<script>
    $(() => {
        var config = {
            url: {
                add: '@Url.Action("AddInverse","Home")',
                add2: '@Url.Action("AddInverses","Home")'
            },
            resource: {
                addTitle: '@Resource.Создание_заявки',
                save: '@Resource.Сохранить',
                close: '@Resource.Закрыть',
                operationComplete: '@Resource.Операция_завершена',
                addIsComplete: '@Resource.Ваша_заявка_принята'
            }
        };
        var processor = new СommunicationsViewProcessor(config);
        processor.Start(); 
    })
</script>
