﻿@using KIT.Enums
@using Touring.ModelsVm


<ul class="social-icons pull-right hidden-xs" style="left: -44px !important; bottom: 420px;">
    <li class="social-en">
        <a href="@Url.Action("ChangeCulture", "Client", new { langEnum = Language.En })" title="English"></a>
    </li>
    <li class="social-ru">
        <a href="@Url.Action("ChangeCulture", "Client", new { langEnum = Language.Ru })" title="Русский"></a>
    </li>
</ul>
<ul class="social-icons pull-right hidden-xs">
    <li class="social-vk">
        <a href="@Model.Vk" target="_blank" title="Vk"></a>
    </li>
    <li class="social-instagram">
        <a href="@Model.Instagramm" target="_blank" title="Instagram"></a>
    </li>
    <li class="social-facebook">
        <a href="@Model.Fb" target="_blank" title="Facebook"></a>
    </li>
    <li class="social-youtube">
        <a href="@Model.Youtube" target="_blank" title="Youtube"></a>
    </li>
</ul>