﻿@using System.Web.Mvc.Html
@using KIT.Enums
@using KIT.Helpers
@using KIT.Helpers.Controls
@using Localization
@model KIT.Models.BaseModels.ListViewModel<KIT.ModelsVm.InverseContactVm,KIT.ModelsVm.InverseFilter>

@{
    ViewBag.Title = "Заявки";
    var person = AccessContext.GetAccount;
}
<div class="col-xs-12">
    <div class="box">
        <div class="box-body">
            <div class="col-lg-12">
                <div>
                    <h4 class="float-left">Заявки на обратную связь</h4>
                </div>
                <div class="clearfix m-bot-15"></div>

                @using (Html.BeginForm("Index", "Inverse", FormMethod.Post, new { id = "filter-table" }))
                {
                    <div class="row">
                        <div class="col-lg-4">
                            @Html.GroupDateTimeRangeFor(w => w.Filters.DateStart, x => x.Filters.DateEnd, "Период")
                        </div>
                        <div class="col-lg-3">
                            @Html.LabelForModel("Email")
                            @Html.TextBoxFor(w => w.Filters.Email, new { @class = "form-control", placeholder = "--ВСЕ--" })
                        </div>
                        <div class="col-lg-3">
                            @Html.LabelForModel("ФИО")
                            @Html.TextBoxFor(w => w.Filters.FullName, new { @class = "form-control", placeholder = "--ВСЕ--" })
                        </div>
                        <div class="col-lg-2">
                            @Html.LabelForModel("Статус заявки")
                            @Html.DropDownListFor(w => w.Filters.BidStatus, Model.Filters.Statuses, "--ВСЕ--", new { @class = "form-control" })
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center m-top-15">
                            <button type="submit" class="btn btn-primary btn-sm text-uppercase"><i class="fa fa-search"></i> Поиск</button>
                        </div>
                    </div>
                    <hr />
                    @Html.PageSize(Model.PageInfo)
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>@Html.FieldSortByTable(Model.PageInfo, "Id", "Номер заявки")</th>
                            <th>@Html.FieldSortByTable(Model.PageInfo, "CreateDate", "Время заявки")</th>
                            <th>@Html.FieldSortByTable(Model.PageInfo, "FullName", "ФИО")</th>
                            <th>@Html.FieldSortByTable(Model.PageInfo, "Email", "Почтовый адрес")</th>
                            <th>@Html.FieldSortByTable(Model.PageInfo, "Number", "Номер телефона")</th>
                            <th>@Html.FieldSortByTable(Model.PageInfo, "IpAdress", "IP адрес")</th>
                            <th>@Html.FieldSortByTable(Model.PageInfo, "BidStatus", "Статус заявки")</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.CreateDate</td>
                                <td>@item.FullName</td>
                                <td>@item.Email</td>
                                <td>@item.Number</td>
                                <td>@item.IpAdress</td>

                                @if (item.BidStatus == ContactStatus.Success)
                                {
                                    <td><span class="label label-success">@ContactStatus.Success.Description()</span></td>
                                }
                                else if (item.BidStatus == ContactStatus.Rejected)
                                {
                                    <td><span class="label label-danger">@ContactStatus.Rejected.Description()</span></td>
                                }
                                else
                                {
                                    <td><span class="label label-default">@ContactStatus.New.Description()</span></td>
                                }

                                @*<td><button type="button" class="btn btn-primary btn-xs" let="info-payment" rid="@item.Id">@Localization.Resource.Показать</button></td>*@
                                    <td>
                                        <button type="button" class="btn btn-info btn-xs" let="change-status" rid="@item.Id">Сменить статус</button>
                                    </td>  
                            </tr>
                        }
                        </tbody>
                    </table>
                    @Html.Paginator(Model.PageInfo)
                    @Html.AntiForgeryToken()
                }
            </div>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/view.processor/Inverse.view.processor.js")"></script>
<script>

        var config = {
            url: {
                change: '@Url.Action("ChangeStatus")'
            },
            resource: {
                changeTitle: 'Сменить статус',
                save: 'Сохранить',
                cancel: 'Отмена',
                operationComplete: 'Операция завершена',
                statusIsComplete: 'Статус заявки изменен. Для отображения результата обновите страницу!'
            }
        };
          var processor = new InverseViewProcessor(config);
        processor.Start();
</script>
