﻿@using KIT.Helpers
@using KIT.Helpers.Controls
@using Localization
@model Touring.ModelsVm.InverseVm

<form let="add-inverse-form-add2">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(w=>w.TourId)
    <table class="table">
        <tbody>
        <tr>
            <th class="align-middle">@Resource.ФИО</th>
            <td>
                @Html.TextBoxFor(w => w.FullName, new { @class = "form-control" })
                <span valid-for="FullName" class="validate_fild"></span>
            </td>
        </tr>
        <tr>
            <th class="align-middle">@Resource.Почта</th>
            <td>
                @Html.TextBoxFor(w => w.Email, new { @class = "form-control" })
                <span valid-for="Email" class="validate_fild"></span>
            </td>
        </tr>
        <tr>
            <th class="align-middle">@Resource.Номер_телефона</th>
            <td>
                @Html.TextBoxFor(w => w.PhoneNumber, new { @class = "form-control" })
                <span valid-for="PhoneNumber" class="validate_fild"></span>
            </td>
        </tr>
        <tr>
            <th class="align-middle">@Resource.Ваш_тур</th>
            <td>@Model.Tour</td>
        </tr>
        <tr>
            <th class="align-middle">@Resource.Кол_человек</th>
            <td>
                @Html.TextBoxFor(w => w.PeopleCount, new { @class = "form-control",type= "number" })
                <span valid-for="PeopleCount" class="validate_fild"></span>
            </td>
        </tr>
        <tr>
            <th class="align-middle">@Resource.Город_вылета</th>
            <td>
                @Html.TextBoxFor(w => w.CityFly, new { @class = "form-control" })
                <span valid-for="CityFly" class="validate_fild"></span>
            </td>
        </tr>
        <tr>
            <th class="align-middle">@Resource.Дата_вылета</th>
            <td>
                @Html.DateTimePickerFor(w => w.DateFly)
                <span valid-for="DateFly" class="validate_fild"></span>
            </td>
        </tr>
        </tbody>
    </table>
</form>