﻿@using KIT.Helpers
@model KIT.Models.Welcome
<form let="change-text-form">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(w=>w.Id)
    @Html.HiddenFor(w=>w.CreationDateTime)
    <table class="table">
        <tbody>
        
        <tr>
            <th class="align-middle">Приветствие</th>
            <td>
                @Html.TextAreaFor(w => w.Text, new {@class = "form-control area", rows = 12, let = "Text" })
                <span valid-for="Text" class="validate_fild"></span>
            </td>
        </tr>
        <tr>
            <th class="align-middle">Приветствие(Английский)</th>
            <td>
                @Html.TextAreaFor(w => w.Text_en, new {@class = "form-control area", rows = 12, let = "Text_en" })
                <span valid-for="Text_en" class="validate_fild"></span>
            </td>
        </tr>
        </tbody>
    </table>
</form>