﻿@model KIT.Models.Welcome

@{
}

<div class="col-xs-12">
    <div class="box">
        <div class="box-header">
            <span>Приветсвие</span>
            <button type="button" class="btn btn-sm btn-primary float-right" let="change-text" rid="@Model.Id"> Изменить</button>
        </div>
        <div class="box-body">
            <div let="text-box"></div>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/view.processor/about.view.processor.js")"></script>
<script>
    $(function() {
        var config = {
            url: {
                getAll: '@Url.Action("AllText")',
                change: '@Url.Action("ChangeText")'
            },
            resource: {
                changeTitle: 'Изменить блок "Приветсвие"',
                save: 'Сохранить',
                cancel: 'Отмена',
                operationComplete: 'Операция завершена',
                changeIsComplete: 'Запись успешно изменена'
            }
        };
        var processor = new AboutViewProcessor(config);
        processor.Start();
    })
</script>