﻿
@using KIT.Enums
@using Localization

@model AdminTour.Models.LoginViewModel
@{
    ViewBag.Title = "Авторизация";
    Layout = null;
}

@Scripts.Render("~/bundles/registration")
@Styles.Render("~/Content/registration")
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
<script src="https://www.google.com/recaptcha/api.js"></script>
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-to-submith", role = "form" }))
{
    @Html.AntiForgeryToken()
    <body class="hold-transition login-page">
        <div class="login-box">
            <div class="login-logo">
                <b>Admin</b>Tour
            </div>
            <!-- /.login-logo -->
            <div class="login-box-body">
                <p class="login-box-msg">Авторизация</p>


                <div class="form-group has-feedback login-box-login">
                    @Html.TextBoxFor(w => w.Login, new { placeholder = "Логин", @class = "form-control", @type = "text", autofocus = true, autocomplete = false })
                    @Html.ValidationMessageFor(w => w.Login, null, new { @class = "invalid-login validate_fild" })
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback login-box-pass">
                    <input type="password" id="pass" class="form-control" placeholder="Пароль" readonly="readonly" autocomplete="off" />
                    @Html.TextBoxFor(w => w.Password, new { placeholder = "Пароль", @class = "form-control hide", @type = "password" })
                    @Html.ValidationMessageFor(w => w.Password, null, new { @class = "invalid-password validate_fild" })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="clearfix"></div>
                <p class="login-box-helpmessage">Введите код при помощи виртуальной клавиатуры</p>
                <div class="kboard" id="keyboard"></div>
                <div>
                    <button class="g-recaptcha btn btn-primary right"
                            data-sitekey="6LcSbzkUAAAAAFnY6t8RIPkR_uMfWc0o0kPK1MJU"
                            data-callback="YourOnSubmitFn">
                        Войти
                    </button>

                    
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- /.login-box-body -->
        </div>

        <script>
        
        $(document).ready(function () {
            var resources = { clear: 'Очистить', delete: 'Удалить' };
            onLoadKboard('Password', 'pass', resources);
        });

        function YourOnSubmitFn() {
            $(".form-to-submith").submit();
        }

        </script>
    </body>
}


