﻿@using KIT.Enums
@using KIT.Helpers
@model KIT.ModelsVm.InverseInfoTourVm
@using KIT.Helpers.Controls
<form let="change-inverse-form">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(w=>w.id)
    @Html.HiddenFor(w=>w.CreateDate)
    <table class="table">
        <tbody>
        <tr>
            <th class="align-middle">Номер заявки</th>
            <td let="id">@Model.id</td>
        </tr>
        <tr>
            <th class="align-middle">Дата создания заявки</th>
            <td let="CreateDate">@Model.CreateDate</td>
        </tr>
            <tr>
                <th class="align-middle">ФИО</th>
                <td>
                    @Html.TextBoxFor(w => w.FullName, new { @class = "form-control", let = "FullName" })
                    <span valid-for="FullName" class="validate_fild"></span>
                </td>
            </tr>
            <tr>
                <th class="align-middle">Почта</th>
                <td>
                    @Html.TextBoxFor(w => w.Email, new { @class = "form-control", let = "Email" })
                    <span valid-for="Email" class="validate_fild"></span>
                </td>
            </tr>
            <tr>
                <th class="align-middle">Номер телефона</th>
                <td>
                    @Html.TextBoxFor(w => w.PhoneNumber, new { @class = "form-control", let = "PhoneNumber" })
                    <span valid-for="PhoneNumber" class="validate_fild"></span>
                </td>
            </tr>
        <tr>
            <th class="align-middle">Тур</th>
            <td>
                @Html.DropDownListFor(w => w.TourId, Model.Tours, new { @class = "form-control" })
                <span valid-for="Tour" class="validate_fild"></span>
            </td>
        </tr>
        <tr>
            <th class="align-middle">Количество людей</th>
            <td>
                @Html.TextBoxFor(w => w.PeopleCount, new { @class = "form-control", let = "PeopleCount" })
                <span valid-for="PeopleCount" class="validate_fild"></span>
            </td>
        </tr>
        <tr>
            <th class="align-middle">Страна/Город вылета</th>
            <td>
                @Html.TextBoxFor(w => w.CityFly, new { @class = "form-control", let = "CityFly" })
                <span valid-for="CityFly" class="validate_fild"></span>
            </td>
        </tr>
        <tr>
            <th class="align-middle">Дата вылета</th>
            <td>
                @Html.DateTimePickerFor(w => w.DateFly)
                <span valid-for="DateFly" class="validate_fild"></span>
            </td>
        </tr>
        <tr>
            <th class="align-middle">IP адрес</th>
            <td>@Model.IpAdress</td>
        </tr>
        <tr>
            <th class="align-middle">Статус заявки</th>
            @if (Model.BidStatus == ContactStatus.Success)
            {
                <td><span class="label label-success">@ContactStatus.Success.Description()</span></td>
            }
            else if (Model.BidStatus == ContactStatus.Rejected)
            {
                <td><span class="label label-danger">@ContactStatus.Rejected.Description()</span></td>
            }
            else
            {
                <td><span class="label label-default">@ContactStatus.New.Description()</span></td>
            }
        </tr>
        </tbody>
    </table>
</form>