﻿@using KIT.Enums
@using KIT.Helpers
@using KIT.Helpers.Controls
@using Localization
@model KIT.ModelsVm.InverseInfoTourVm

<form let="InverseInfo-form">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(w => w.id)
    <table class="table">
        <tbody>
        <tr>
            <th class="align-middle">Номер заявки</th>
            <td>@Model.id</td>
        </tr>
        <tr>
            <th class="align-middle">Дата создания заявки</th>
            <td>@Model.CreateDate</td>
        </tr>
        <tr>
            <th class="align-middle">ФИО</th>
            <td>@Model.FullName</td>
        </tr>
        <tr>
            <th class="align-middle">Почта</th>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <th class="align-middle">Номер телефона</th>
            <td>@Model.PhoneNumber</td>
        </tr>
        <tr>
            <th class="align-middle">Тур</th>
            <td>@Model.NameTour</td>
        </tr>
        <tr>
            <th class="align-middle">Количество людей</th>
            <td>@Model.PeopleCount</td>
        </tr>
        <tr>
            <th class="align-middle">Страна/Город вылета</th>
            <td>@Model.CityFly</td>
        </tr>
        <tr>
            <th class="align-middle">Дата вылета</th>
            <td>@Model.DateFly</td>
        </tr>
        <tr>
            <th class="align-middle">IP адрес</th>
            <td>@Model.IpAdress</td>
        </tr>
        <tr>
            <th class="align-middle">Статус заявки</th>
            @if (Model.BidStatus == ContactStatus.Success)
            {
                <td><span class="label label-success">@ContactStatus.Success.Description()</span></td>
            }
            else if (Model.BidStatus == ContactStatus.Rejected)
            {
                <td><span class="label label-danger">@ContactStatus.Rejected.Description()</span></td>
            }
            else
            {
                <td><span class="label label-default">@ContactStatus.New.Description()</span></td>
            }
        </tr>
        </tbody>
    </table>
</form>