﻿@using KIT.Helpers
@using Localization
@model KIT.ModelsVm.InverseStatusVm

<form let="change-status-form">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(w => w.id)
    <table class="table">
        <tbody>
            <tr>
                <th class="align-middle">ID заявки</th>
                <td>@Model.id</td>
            </tr>
            <tr>
                <th class="align-middle">Статус заявки</th>
                <td>
                    @Html.DropDownListFor(w => w.InverseStatus, Model.Statuses, new { @class = "form-control" })
                    <span valid-for="PaymentStatus" class="validate_fild"></span>
                </td>
            </tr>

        </tbody>
    </table>
</form>