﻿@using KIT.Enums
@using KIT.Helpers
@using KIT.Helpers.Controls
@model KIT.Models.BaseModels.ListViewModel<KIT.ModelsVm.InverseTourVm,KIT.ModelsVm.InverseTourFilter>


@{
    ViewBag.Title = "Заявки";
    var person = AccessContext.GetAccount;
}
<div class="col-xs-12">
    <div class="box">
        <div class="box-body">
            <div class="col-lg-12">
                <div>
                    <h4 class="float-left">Заявки</h4>
                </div>
                <div class="clearfix m-bot-15"></div>

                @using (Html.BeginForm("Index", "InverseTour", FormMethod.Post, new { id = "filter-table" }))
                {
                    <div class="row">
                        <div class="col-lg-4">
                            @Html.GroupDateTimeRangeFor(w => w.Filters.DateStart, x => x.Filters.DateEnd, "Период")
                        </div>
                        <div class="col-lg-3">
                            @Html.LabelForModel("ФИО")
                            @Html.TextBoxFor(w => w.Filters.FullName, new { @class = "form-control", placeholder = "--ВСЕ--" })
                        </div>
                        <div class="col-lg-3">
                            @Html.LabelForModel("Тур")
                            @Html.DropDownListFor(w => w.Filters.Tour, Model.Filters.Tours, "--ВСЕ--", new { @class = "form-control" })
                        </div>
                        <div class="col-lg-2">
                            @Html.LabelForModel("Статус заявки")
                            @Html.DropDownListFor(w => w.Filters.BidStatus, Model.Filters.Statuses, "--ВСЕ--", new { @class = "form-control" })
                        </div>
                        <div class="clearfix"></div>
                        
                        
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center m-top-15">
                            <button type="submit" class="btn btn-primary btn-sm text-uppercase"><i class="fa fa-search"></i> Поиск</button>
                        </div>
                    </div>
                    <hr />
                    @Html.PageSize(Model.PageInfo)
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>@Html.FieldSortByTable(Model.PageInfo, "Id", "Номер")</th>
                            <th>@Html.FieldSortByTable(Model.PageInfo, "CreateDate", "Время")</th>
                            <th>@Html.FieldSortByTable(Model.PageInfo, "FullName", "ФИО")</th>
                            <th>@Html.FieldSortByTable(Model.PageInfo, "TourName", "Тур")</th>
                            <th>@Html.FieldSortByTable(Model.PageInfo, "BidStatus", "Статус заявки")</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>@item.id</td>
                                <td>@item.CreateDate</td>
                                <td>@item.FullName</td>
                                <td>@item.TourName</td>

                                @if (item.BidStatus == ContactStatus.Success)
                                {
                                    <td><span class="label label-success">@ContactStatus.Success.Description()</span></td>
                                }
                                else if (item.BidStatus == ContactStatus.Rejected)
                                {
                                    <td><span class="label label-danger">@ContactStatus.Rejected.Description()</span></td>
                                }
                                else
                                {
                                    <td><span class="label label-default">@ContactStatus.New.Description()</span></td>
                                }

                                @*<td><button type="button" class="btn btn-primary btn-xs" let="info-payment" rid="@item.Id">@Localization.Resource.Показать</button></td>*@
                                <td>
                                    <button type="button" class="btn btn-info btn-xs" let="info-inverse" rid="@item.id">Подробнее</button>
                                </td> 
                                <td>
                                    <button type="button" class="btn btn-primary btn-xs" let="change-status" rid="@item.id">Сменить статус</button>
                                </td>  
                                <td>
                                    <button type="button" class="btn btn-default btn-xs" let="change-inverse" rid="@item.id">Корректировать</button>
                                </td>  
                            </tr>
                        }
                        </tbody>
                    </table>
                    @Html.Paginator(Model.PageInfo)
                    @Html.AntiForgeryToken()
                }
            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Scripts/view.processor/inverseTour.view.processor.js")"></script>
<script>
    $(function() {
        var config = {
            url: {
               info: '@Url.Action("IssuesInfo")',
               change: '@Url.Action("ChangeInverse")',
                changeStatus: '@Url.Action("ChangeStatus")'

            },
            resource: {
                changeTitle: 'Корректировка заявки',
                changeStatusTitle: 'Смена статуса заявки',
                infoTitle: 'Информация по заявке',
                save: 'Сохранить',
                cancel: 'Отмена',
                close: 'Закрыть',
                operationComplete: 'Операция завершена. ',
                changeIsComplete: 'Запись успешно изменена. Для отображения результата обновите страницу.',
                changeStatusIsComplete: 'Статус заявки изменен. Для отображения результата обновите страницу.'
            }
        };
        var processor = new InverseTourViewProcessor(config);
        processor.Start();
    })
</script>