﻿@using KIT.Enums
@using KIT.Helpers
@using Microsoft.AspNet.Identity
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
            try {
                w.yaCounter46354515 = new Ya.Metrika({
                    id: 46354515,
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true
                });
            } catch (e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/46354515" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/layout")
    @Scripts.Render("~/bundles/layout")
    @{
        var lang = CookieHelper.Get("lang");
        var person = AccessContext.GetAccount;
    }

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-black sidebar-mini">
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="@Url.Action("Index", "Home")" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>A</b>TR</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Admin</b>Tour</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                             <img src="~/Content/dist/img/manager.png" class="user-image" alt="User Image">
                                
                                <span class="hidden-xs">@person.FullName</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="~/Content/dist/img/manager.png" class="user-image" alt="User Image">
                                    <p>
                                        @person.FullName <br /> <span class="admin-text">Администратор</span>
                                    </p>
                                </li>

                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <p class="btn btn-default btn-flat" id="Person-Portfolio">Профиль</p>
                                    </div>
                                    <div class="pull-right">
                                        <a href="@Url.Action("LogOff", "Account")" class="btn btn-default btn-flat">Выйти</a>
                                    </div>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/Content/dist/img/manager2.png" class="user-image" alt="User Image">
                        

                    </div>
                    <div class="pull-left info">
                        <p>@person.FullName</p>
                        <a href="@Url.Action("Index", "Home")"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- search form -->
                <form action="#" method="get" class="sidebar-form"></form>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">Меню навигации</li>
                    <li><a href="@Url.Action("Index", "Statistics")"><i class="fa fa-bar-chart"></i> <span>Статистика сайта</span></a></li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-pencil-square-o"></i>
                            <span>Редактор контента</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index", "Tour")"><i class="fa fa-plane"></i>Туры</a></li>
                            <li><a href="@Url.Action("Index", "Issues")"><i class="fa fa-comments-o"></i> <span>Часто задаваемые вопросы</span></a></li>
                            <li><a href="@Url.Action("Index", "Video")"><i class="fa fa-youtube-play"></i> <span>Видео портфолио</span></a></li>
                            <li><a href="@Url.Action("Index", "Contacts")"><i class="fa fa-address-card-o"></i> <span>Контактная информация</span></a></li>
                            <li><a href="@Url.Action("Index", "Welcome")"><i class="fa fa-commenting-o"></i> <span>Приветствие</span></a></li>
                            <li><a href="@Url.Action("Index", "AboutUs")"><i class="fa fa-users"></i> <span>О нас</span></a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("Index", "InverseTour")"><i class="fa fa-file-text"></i> <span>Заявки</span></a></li>
                    <li><a href="@Url.Action("Index", "Inverse")"><i class="fa fa-exchange"></i> <span>Обратная связь</span></a></li>
                    <li><a href="@Url.Action("Index", "Security")"><i class="fa fa-user-times"></i> <span>Служба безопасности</span></a></li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <section class="content">
                <!-- Small boxes (Stat box) -->
                <!-- /.row -->
                <!-- Main row -->
                <div class="row">
                    <!-- Left col -->
                    @RenderBody()
                </div>
                <!-- /.row (main row) -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.0
            </div>
            <strong>Copyright &copy; 2016-@DateTime.Now.ToString("yyyy") <a href="@Url.Action("Index", "Home")">Tour</a>.</strong> All rights
            reserved.
        </footer>

        <!-- Control Sidebar -->

        <div class="control-sidebar-bg"></div>
    </div>
    <script>
    //$.widget.bridge('uibutton', $.ui.button);
    </script>
    <script>
    $("#Person-Portfolio").on("click", function() {
        MaskHelper.ShowBlockUi();
        $.get('@Url.Action("MyProfile","Person")').done(function (data) {
                MaskHelper.HideBlockUI();
                bootbox.dialog({
                    size: "normal",
                    title: "Настройка профиля",
                    message: data.html,
                    backdrop: true,
                    animate: true,
                    onEscape: true
                });
            
        });
    });
    </script>
</body>
</html>
