﻿@using KIT.Enums
@using Localization
@using Touring.Controls
@model Touring.ModelsVm.IssuesVmPage

@{
    ViewBag.Title = "Issues";
}

<div id="body-bg">
    @Html.Partial("_sidebar",Model.ContactVm)
    <div id="pre-header" class="container" style="height: 40px;">
    </div>
    <div id="header">
        <div class="container">
            <div class="row">
                <!-- Logo -->
                <div class="logo">
                    <a href="@Url.Action("Index","Home")" title="">
                        <img src="~/Content/assets/img/logo.png" alt="Logo"/>
                    </a>
                </div>
                <!-- End Logo -->
            </div>
        </div>
    </div>
    <!-- Top Menu -->
    <div id="hornav" class="container no-padding">
        <div class="row">
            <div class="col-md-12 no-padding">
                <div class="text-center visible-lg">
                    <ul id="hornavmenu" class="nav navbar-nav">
                        <li>
                            <a href="@Url.Action("Index","Home")" class="fa-home">@Resource.Домой</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Home")" class="fa-plane">@Resource.Туры</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Video")" class="fa-th">@Resource.Портфолио</a>
                        </li>
                        @*<li>
                        <a href="../Home/portfolio-2-column.html" class="fa-comments-o">@Resource.Часто_задаваемые_вопросы</a>
                    </li>*@
                        <li>
                            <a href="#contact" class="fa-comment go_to">@Resource.Обратная_связь</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Top Menu -->
    <div id="post_header" class="container" style="height: 40px;">
    </div>
    <div id="content-top-border" class="container">
    </div>
    <!-- === END HEADER === -->
    <!-- === BEGIN CONTENT === -->
    <div id="content">
        <div class="container background-white">
            <div class="row margin-vert-30">
                <div class="col-md-12">
                    <h2>@Resource.Часто_задаваемые_вопросы</h2>
                    <p>@Resource.Текст_часто_задаваемые_вопросы</p>
                    <hr class="margin-vert-40">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="tab-content">
                                <div class="tab-pane active in fade" id="faq">
                                    <div class="panel-group" id="accordion">
                                        <!-- FAQ Item -->
                                        @foreach (var faq in Model.IssuesVm)
                                        {
                                            <div class="panel panel-default panel-faq">
                                                <div class="panel-heading">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#faq-sub">
                                                        <h4 class="panel-title">
                                                            @faq.Issues
                                                            <span class="pull-right">
                                                                <i class="glyphicon glyphicon-plus"></i>
                                                            </span>
                                                        </h4>
                                                    </a>
                                                </div>
                                                <div id="faq-sub" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        @faq.Answer
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    
                                    
                                   
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h3 class="margin-bottom-10">@Resource.Не_нашли_ответы</h3>
                            <p>@Resource.Вы_можете</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- === END CONTENT === -->
    <!-- === BEGIN FOOTER === -->
    <div id="contact"></div>
    @Html.Partial("_footer",Model.ContactVm)
</div>

<script>
    $(document).ready(function(){
        $('.go_to').click( function(){ // ловим клик по ссылке с классом go_to
            var scroll_el = $(this).attr('href'); // возьмем содержимое атрибута href, должен быть селектором, т.е. например начинаться с # или .
            if ($(scroll_el).length != 0) { // проверим существование элемента чтобы избежать ошибки
                $('html, body').animate({ scrollTop: $(scroll_el).offset().top }, 900); // анимируем скроолинг к элементу scroll_el
            }
            return false; // выключаем стандартное действие
        });
    });
</script>