/*-----------------------------------------------------------------------------------*/
/* Social Icons */
/*-----------------------------------------------------------------------------------*/

ul.social-icons {
    list-style: none;
    margin: 17px 10px 0 0;
    position: fixed;
    width: 40px;
    right: 36px;
    bottom: 40px;

    &.circle li {
        background-image: none;
        background-color: transparent;

        a {
            background-color: rgba(0, 0, 0, 0.1);
            background-position: 0px -40px !important;
            border-radius: 50% !important;

            &:hover {
                background-position: 0px -40px !important;
            }
        }
    }

    &.rounded a {
        border-radius: 5px !important;
    }

    &.color {
        .social-facebook a {
            background-color: #3b5998
        }

        .social-ru a {
            background-color: #3b5998
        }

        .social-instagram a {
            background-color: #48c4d2
        }

        .social-en a {
            background-color: #48c4d2
        }

        .social-googleplus a {
            background-color: #d94a39
        }

        .social-youtube a {
            background-color: #f45750
        }

        .social-vk a {
            background-color: #f45750
        }

        .social-github a {
            background-color: #333333
        }

        .social-pinterest a {
            background-color: #cb2027
        }

        .social-blogger a {
            background-color: #fb913f
        }

        .social-dribbble a {
            background-color: #ef5b92
        }

        .social-flickr a {
            background-color: #FD55AD
        }

        .social-skype a {
            background-color: #18b7f1
        }

        .social-digg a {
            background-color: #2882c6
        }

        .social-linkedin a {
            background-color: #71b2d0
        }

        .social-vimeo a {
            background-color: #62a0ad
        }

        .social-yahoo a {
            background-color: #ab64bc
        }

        .social-tumblr a {
            background-color: #3a5976
        }

        .social-deviantart a {
            background-color: #d0de21
        }

        .social-delicious a {
            background-color: #3274d1
        }

        .social-vk a {
            background-color: #fe9900
        }
    }

    &.border {
        li {
            a {
                background-position: 0px 0px !important;
                border: 2px solid @brand-primary-light;
                background-color: rgba(0, 0, 0, 0.15) !important;

                &:hover {
                    background-position: 0px -40px !important;
                    background-color: #999 !important;
                }
            }
        }
    }

    li {
        background-color: rgba(0, 0, 0, 0.06);
        background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.05) 0%, rgba(0,0,0,0) 100%); /* gradient overlay */
        background-image: -o-linear-gradient(bottom, rgba(0,0,0,.05) 0%, rgba(0,0,0,0) 100%); /* gradient overlay */
        background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.05) 0%, rgba(0,0,0,0) 100%); /* gradient overlay */
        background-image: linear-gradient(bottom, rgba(0,0,0,.05) 0%, rgba(0,0,0,0) 100%); /* gradient overlay */
        background-position: 50% 50%;
        display: block;
        float: left;
        margin: 5px;
        padding: 0 0 0px 0;

        a {
            border: 1px solid rgba(0, 0, 0, 0.03);
            box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
            display: block;
            width: 40px;
            height: 40px;
            text-indent: -9999px;
            background-position: 0px -55px;
            background-repeat: no-repeat;
            padding-bottom: 1px;
            opacity: 1;

            &:hover {
                background-position: 0px -40px !important;
                opacity: 1;
                .transition-duration(0.5s);
                .transition-property;
            }
        }
    }
}


.social-facebook a { background: url(../img/social_icons/facebook.png); &:hover {background-color: #3b5998 !important;}}
.social-ru a {
    background: url(../img/social_icons/rus.png);

    &:hover {
        background-color: #3b5998 !important;
    }
}
.social-instagram a {
    background: url(../img/social_icons/instagram.png);

    .social-en a {
        background: url(../img/social_icons/en.png);

        &:hover {
            background-color: #48c4d2 !important;
        }
    }

    .social-googleplus a {
        background: url(../img/social_icons/googleplus.png);

        &:hover {
            background-color: #d94a39 !important;
        }
    }

    .social-youtube a {
        background: url(../img/social_icons/youtube.png);

        &:hover {
            background-color: #f45750 !important;
        }
    }

    .social-github a {
        background: url(../img/social_icons/github.png);

        &:hover {
            background-color: #333333 !important;
        }
    }

    .social-pinterest a {
        background: url(../img/social_icons/pinterest.png);

        &:hover {
            background-color: #cb2027 !important;
        }
    }

    .social-blogger a {
        background: url(../img/social_icons/blogger.png);

        &:hover {
            background-color: #fb913f !important;
        }
    }

    .social-dribbble a {
        background: url(../img/social_icons/dribbble.png);

        &:hover {
            background-color: #ef5b92 !important;
        }
    }

    .social-flickr a {
        background: url(../img/social_icons/flickr.png);

        &:hover {
            background-color: #FD55AD !important;
        }
    }

    .social-skype a {
        background: url(../img/social_icons/skype.png);

        &:hover {
            background-color: #18b7f1 !important;
        }
    }

    .social-digg a {
        background: url(../img/social_icons/digg.png);

        &:hover {
            background-color: #2882c6 !important;
        }
    }

    .social-linkedin a {
        background: url(../img/social_icons/linkedin.png);

        &:hover {
            background-color: #71b2d0 !important;
        }
    }

    .social-vimeo a {
        background: url(../img/social_icons/vimeo.png);

        &:hover {
            background-color: #62a0ad !important;
        }
    }

    .social-yahoo a {
        background: url(../img/social_icons/yahoo.png);

        &:hover {
            background-color: #ab64bc !important;
        }
    }

    .social-tumblr a {
        background: url(../img/social_icons/tumblr.png);

        &:hover {
            background-color: #3a5976 !important;
        }
    }

    .social-deviantart a {
        background: url(../img/social_icons/deviantart.png);

        &:hover {
            background-color: #d0de21 !important;
        }
    }

    .social-delicious a {
        background: url(../img/social_icons/delicious.png);

        &:hover {
            background-color: #3274d1 !important;
        }
    }

    .social-vk a {
        background: url(../img/social_icons/vk.png);

        &:hover {
            background-color: #fe9900 !important;
        }
    }

    [class^="social-"] a, [class*=" social-"] a {
        background-position: 0px -40px !important;
        background-repeat: no-repeat;
    }